.App{
    background-color: rgb(15, 15, 116);
    color: white;
    text-align: center;
    /* font-size: large; */
    height: 100vh;
    padding-top: 10px;
}
.heading{
    letter-spacing: 2px;
    font-size: 40px;
}
.line{
    /* display: flex; */
    margin-bottom: 25px;
}
.input{
    
    width: 20%;
    padding: 6px;
    font-size: 22px;
    margin-top: 20px;
    border-radius: 12px;
    border: none;
    
}
.btn{
    margin-left: 5px;
    padding: 6px;
    font-size: 22px;
    background-color: yellow;
    border-radius: 12px;
    outline: none;
}
.row{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}